# Variables de entorno
.env

# Dependencias
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.docker/

# Archivos de sistema y editores
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pkl
.venv/
venv/

#pgAdmin
pgAdmin.txt

